bin/
obj/

*.db
*.db-shm
*.db-wal

Migrations/

src/UIOWA_ClientApp/node_modules/
src/UIOWA_ClientApp/dist/
src/UIOWA_ClientApp/.angular/

.vscode/
.idea/
*.user
*.suo

.DS_Store
Thumbs.db

src/UIOWA_WebApi/Receipts/
src/UIOWA_WebApi/Data/

*.log
